---
title: Request Verification
description: Get your Wiki account verified so you can edit pages
published: true
date: 2020-08-11T14:10:52.691Z
tags: verification
editor: markdown
---

<figure class="image image_resized image-style-align-centre" style="width:100%;"><img src="/wikiwelcome.png"><figcaption></figcaption></figure>
---
Thank you for creating an account on the *BRGS Wiki*!
Before we get you editing, please make sure that:
- Your account does **NOT** use your real name (we [care about your privacy](/privacy)).
- You have entered and verified a valid email address with your account.
- Your account's email is **NOT** a brgsmail.org.uk address (this could potentially be traced).
- Your username isn't offensive/inappropriate, or too similar to a moderator's username.

All good? Excellent. To get verified as a Wiki editor, just comment `'Verify me'` in the comments section below and we will get back to you ASAP to get your account up and running properly. Once verified, your comment will be deleted.

> Want to know what you can do as a user? Check out [this page](/editing/hierarchy)!
{.is-info}

<br>


##### *Thank you for helping us to keep the Wiki a safe and fun community* 🙌🐿

![Wiki Logo](/logo.png)