---
title: Request Verification
description: Get your Wiki account verified so you can edit pages
published: true
date: 2020-06-09T12:45:40.283Z
tags: verification
editor: markdown
---

Thank you for creating an account on the *BRGS Wiki*!
Before we get you editing, please make sure that:
- Your account does **NOT** use your real name (we [care about your privacy](/privacy))
- You have entered and verified a valid email address with your account

All good? Excellent. To get verified as a Wiki editor, just comment `'Verify me'` in the comments section below and we will get back to you ASAP to get your account up and running properly.
<br>
##### *Thank you for helping us to keep the Wiki a safe and fun community* 🙌🐿

![Wiki Logo](/logo.png)